/* Screen Layout ============================================ */
.screen {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  
}

/* Left Side ================================================ */
.left-side {
  width: 20%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 8rem);
  overflow-y: auto;
}

/* Upload Box */
.upload-box {
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  background-color: #f8f9fa;
  color: #6c757d;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.upload-box:hover {
  background-color: #e9ecef;
  border-color: #0056b3;
  transform: scale(1.02);
}

.upload-box.drag-active {
  border-color: #28a745;
  background-color: #e6ffe6;
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.5);
  animation: pulse 1.5s infinite;
}

.upload-box > span {
  display: block;
  margin-bottom: 0.5rem;
}

#upload-icon {
  height: 70px;
  margin-bottom: 1rem;
}

.click-upload {
  cursor: pointer;
  color: #007bff;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.click-upload:hover {
  color: #0056b3;
}

/* Shared Styles ============================================ */
.shared-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #adb5bd;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: #f8f9fa;
  overflow: hidden;
  margin-top: 1rem;
}

/* Left Side Image Box */
.left-side-image-box {
  @extend .shared-box;
  color: #6c757d;
  height: 100px;
  margin-top: 1rem;
  text-align: center;
  align-content: center;
}

.left-side-image-box img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 5px;
}

/* Option Box Styling */
.option-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #495057;
}

.options {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#percent {
  margin-left: 0.1rem;
  margin-bottom: 1rem;
}

#versus {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 1rem;
}

.option-box input,
.option-box select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

#score, #opponentScore {
}

.option-box input:focus,
.option-box select:focus {
  border-color: #007bff;
  outline: none;
}

.option-box button {
  width: 100%;
}

/* Main Section ============================================= */
.main {
  width: 65%;
  height: calc(100vh - 8rem);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid; /* Grid 레이아웃 사용 */
  grid-template-columns: 1fr 1fr; /* 두 열 */
  grid-template-rows: 1fr 1fr; /* 두 행 */
  gap: 1rem; /* 그리드 아이템 간의 간격 */
  overflow-y: auto;
}

/* Result Section */
.result-section {
  @extend .shared-box;
  padding: 1.5rem;
  color: #6c757d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-column: 1 / 2; /* 첫 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
}

/* Win Probability */
.win-probability {
  font-size: 1.5rem;
  font-weight: bold;
}

.win-probability.green {
  color: #28a745;
}

.win-probability.red {
  color: #dc3545;
}

/* History Section ========================================== */
.history-section {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 8rem);
  overflow-y: auto;
}

/* Scrollbar Styles */
.history-section::-webkit-scrollbar {
  width: 8px;
}

.history-section::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

/* Analyze Button =========================================== */
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 1rem;
  display: block;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  background-color: #003f7f;
  transform: translateY(0);
}

/* Analyze Section ========================================== */
.analyze-section {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Shared Box Styles */
.result-section {
  @extend .shared-box;
  padding: 1.5rem;
  color: #6c757d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-column: 1 / 2; /* 첫 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
}

/* 이미지 미리보기 */
.main-section-image-box {
  @extend .shared-box;
  flex: 1;
  padding: 1rem;
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
  color: #6c757d;
}

/* 파이 차트 */
.analysis-box {
  @extend .shared-box;
  flex: 1;
  padding: 1rem;
  grid-column: 1 / 2; /* 첫 번째 열 */
  grid-row: 2 / 3; /* 두 번째 행 */
  color: #6c757d;
}

/* 감정 분석 표 */
.emotion-table-container {
  @extend .shared-box;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 2 / 3; /* 두 번째 행 */
  color: #6c757d;
}

/* Image Styles */
.main-section-image-box img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

/* Chart Styles */
#myPieChart {
  width: 1000%;
  max-width: 500px;
  height: auto;
}

/* Emotion Table =========================================== */
.emotion-table-container {
  @extend .shared-box;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.emotion-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9rem;
}

.emotion-table th,
.emotion-table td {
  padding: 0.75rem;
  border: 1px solid #e9ecef;
}

.emotion-table th {
  background-color: #007bff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.emotion-table td {
  background-color: #f8f9fa;
}
/* Main Section ============================================= */
.main {
  width: 65%;
  height: calc(100vh - 8rem);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid; /* Grid 레이아웃 사용 */
  grid-template-columns: 1fr 1fr; /* 두 열 */
  grid-template-rows: 1fr 1fr; /* 두 행 */
  gap: 1rem; /* 그리드 아이템 간 간격 */
  overflow-y: auto;
}

/* 승률 섹션 */
.result-section {
  grid-column: 1 / 2; /* 첫 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

/* 이미지 미리보기 */
.main-section-image-box {
  grid-column: 1 / 2; /* 첫 번째 열 */
  grid-row: 2 / 3; /* 두 번째 행 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

/* 파이 차트 */
.analysis-box {
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 1 / 2; /* 첫 번째 행 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  
}

/* 감정 분석 표 */
.emotion-table-container {
  grid-column: 2 / 3; /* 두 번째 열 */
  grid-row: 2 / 3; /* 두 번째 행 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}




/* Responsive Design ======================================= */
@media (max-width: 1600px) {
  .main {
    grid-template-columns: 1fr; /* 한 열 */
    grid-template-rows: repeat(4, auto); /* 4개의 행 */
  }

  .result-section,
  .main-section-image-box,
  .analysis-box,
  .emotion-table-container {
    grid-column: 1 / 2; /* 모든 아이템이 한 열로 배치 */
    grid-row: auto; /* 행 자동 배치 */
  }
}

/* Flexbox 및 Grid 통합 규칙 추가 ======================================== */
@media (max-width: 1100px) {
  .screen {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    height: auto; /* 콘텐츠에 맞는 높이 */
  }

  /* 모든 주요 섹션 (left-side, main, history-section) */
  .left-side,
  .main,
  .history-section {
    width: 100%; /* 전체 너비를 사용 */
    padding: 1rem; /* 모바일 패딩 */
    height: auto; /* 높이 자동 조정 */
  }

  /* 공통적으로 적용되는 shared-box 스타일 (공통 요소 포함) */
  .shared-box {
    width: 100%; /* 전체 너비 */
    height: auto; /* 높이 자동 조정 */
    padding: 1rem; /* 패딩 조정 */
    margin: 0; /* 외부 여백 제거 */
  }

  /* 업로드 박스 */
  .upload-box {
    padding: 1rem; /* 내부 패딩 축소 */
    width: 100%; /* 업로드 박스 전체 너비 */
    height: auto; /* 높이 자동 */
    text-align: center;
    margin-bottom: 1rem; /* 간격 추가 */
  }

  /* 이미지 미리보기 박스 */
  .left-side-image-box img {
    max-width: 80%; /* 모바일에서 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
    margin: 0 auto; /* 가운데 정렬 */

  }

  /* 메인 섹션 내부 */
  .main {
    display: flex;
    flex-direction: column; /* 내부 요소를 세로 배치 */
    gap: 1rem; /* 요소 간 간격 */
    height: auto; /* 높이 콘텐츠에 맞게 */
  }

  /* 승률 섹션 */
  .result-section {
    width: 100%; /* 전체 너비 */
    padding: 1rem; /* 패딩 축소 */
    text-align: center;
    font-size: 1rem; /* 글자 크기 축소 */
  }

  /* 이미지 미리보기 섹션 */
  .main-section-image-box {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  /* 파이 차트 */
  .analysis-box {
    width: 100%;
    padding: 1rem;
    height: auto;
    text-align: center;
  }

  #myPieChart {
    width: 100%; /* 화면에 맞춤 */
    max-width: 300px; /* 최대 너비 제한 */
    height: auto; /* 비율 유지 */
    margin: 0 auto; /* 가운데 정렬 */
  }

  /* 감정 분석 표 */
  .emotion-table-container {
    width: 100%;
    padding: 1rem;
    /* font-size: 0.9rem; */
    height: auto; /* 높이 자동 */
  }

  .emotion-table {
    width: 100%;
    font-size: 0.8rem; /* 글자 크기 축소 */
  }

  /* 스크롤바 조정 */
  .emotion-table-container::-webkit-scrollbar {
    width: 6px; /* 스크롤바 너비 축소 */
  }

  .emotion-table-container::-webkit-scrollbar-thumb {
    background-color: #bbb; /* 스크롤바 색상 변경 */
  }

  /* 버튼 크기 조정 */
  button {
    padding: 8px 16px; /* 버튼 내부 여백 축소 */
    font-size: 0.9rem; /* 글자 크기 축소 */
    width: 100%; /* 전체 너비 */
    margin: 0 auto; /* 가운데 정렬 */
  }
}




/* Animations ============================================== */
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(40, 167, 69, 0.7);
  }
}

.upload-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(0, 123, 255, 0.3), transparent);
  animation: move-background 3s linear infinite;
  z-index: -1;
}

@keyframes move-background {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
